.bemvindo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: calc(30px + 4vh);
    width: 100%;
}

.bemvindo-titulo{
    display: flex;
    flex-direction: column;
}

.bemvindo-titulo-texto{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(4rem + 4vmin);
    font-weight: 300;
    color: #817575;
}

.bemvindo-boximg{
    display: flex;
    flex-direction: column;
}

.bemvindo-boximg img{
    height: 50vmin;
}