.bemvindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(5vh + 2rem);
}
.bemvindo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: calc(15vw + 2rem);
}
.bemvindo-texto{
    display: flex;
    flex-direction: column;
}

.bemvindo-texto h1{
    font-family: "Montserrat";
    font-weight: 300;
    color: var(--LetrasPrinc);
    font-size: calc(2vw + 0.75rem);
}

.bemvindo-foto{
    display: flex;
    flex-direction: column;
}

.bemvindo-foto img{
    height: calc(10vw + 10rem);
}

.bemvindo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: calc(1vh + 1rem);
}

.bemvindo-divisao{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 1px;
    background-color: var(--LetrasPrinc);
}

.bemvindo-mensagem{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.bemvindo-mensagem h2{
    font-family: "Montserrat";
    font-weight: 300;
    color: var(--LetrasPrinc);
    font-size: calc(1vw + 0.8rem);
}

.bemvindo-redessociais{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: calc(8vw + 2rem);
}

.redes img{
    height: calc(3vw + 3rem);
}
