.bemvindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(2vw + 2rem);
}
.bemvindo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc(1.5vw + 1rem);
}

.bemvindo-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.bemvindo-texto h1{
    font-family: "Montserrat";
    font-size: calc(2vw + 2rem);
    font-weight: 300;
    color: var(--LetrasPrinc); 
}

.bemvindo-foto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bemvindo-foto img{
    height: 25rem;
}

.bemvindo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(1vw + 1rem);
}

.bemvindo-secundario-sep{
    width: 40%;
    height: 1px;
    background-color: var(--LetrasPrinc);
    display: flex;
    border-radius: 360px;
}

.bemvindo-mensagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.bemvindo-mensagem h2{
    font-family: "Montserrat";
    font-size: calc(1vw + 1rem);
    font-weight: 300;
    color: var(--LetrasPrinc); 
}