.box-botao{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    gap: calc(0.1rem + 0.2vmin);
    cursor: pointer;
    align-items: flex-end;
    transition: 1s;
    z-index: 1;
}

.traco-botao{
    background-color: #817575;
    width: calc(1.95rem + 1.95vmin);
    height: calc(0.45rem + 0.45vmin);
    border-radius: calc(0.5rem + 0.5vmin);
    transition: 1s;
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    height: 100vh;
    background-color: #d9d9d9;
    transition: 1s;
    transform: translatex(-25rem);
    top: 0;
    left: 0;
}

.links{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2rem + 2vmin);
    font-weight: 500;
    color: #817575;
}

.conteudo{
    display: flex;
    flex-direction: column;
    transition: 1s;
    width: 100vw;
    align-items: center;
    z-index: 0;
    gap: calc(1.5rem + 1vmin);
}

.translate{
    transform: translatex(0vw);
}

.translate-box{
    transform: translateX(21rem);
}

.translate-botao1{
    width: calc(1.75rem + 1.75vmin);
}
.translate-botao2{
    width: calc(1.55rem + 1vmin);
}
.translate-botao3{
    width: calc(0.85rem + 0.85vmin);
}