#entrada{
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    background: url("../../assets/fundotelainicial.png") no-repeat 50% 50%;
    background-size: cover;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-entrada{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

.logo-entrada{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 98%;
}

.texto-entrada :where(h2, h3){
    text-align: center;
}