#entrada{
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    background: url("../../assets/fundotelainicial.png") no-repeat 50% 50%;
    background-size: cover;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-entrada{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 98%;
}

.texto-entrada{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

.logo-entrada :where(h1){
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    color: #E5E5E5;
}

.texto-entrada h2{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    color: #E5E5E5;
    text-align: center;
}

.texto-entrada p{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    color: #E5E5E5;
    text-align: center;
}