#box-inicial{
    height: 100vh;
    width: 100vw;
    background-image: url("../../imgs/eutela.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100vw;
    height: 100vh;  
}

.inicial-titulo{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    color: #E5E5E5;
}

.inicial-traco{
    background-color: #E5E5E5;
    width: 40%;
    height: 1px;
    border: none;
}

.inicial-descricao{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color: #E5E5E5;
    text-align: center;
    width: 40%;
    margin-top: 8px;
}

.box-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    transform: translateY(15vh)
}

.box-icons-img{
    height: 12.5vmin;  
}

.box-icons-img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.box-seta{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(28vh);
    animation: seta 4s linear infinite;
}

@keyframes seta{
    0% {transform: translateY(28vh);}
    25% {transform: translateY(29vh);}
    50% {transform: translateY(28vh);}
    75% {transform: translateY(29vh);}
    100% {transform: translateY(28vh);}
}