@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Pacifico&display=swap');

html, body, #root, #conteudo, #tela-inicial{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

button{
  background: none;
  border: none;
}