.header{
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.header-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 4vw);
}

.header-links-box{
    display: flex;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: .3s;
    flex-direction: row;
    align-items: center;
}

.header-links-box:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 1px;
    border-radius: 360px;
    background-color: var(--paleta3);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-links-box:hover{
    color: var(--paleta3);
}

.header-links-box:hover:after {
    right: 0;
}

.header-links-box-texto{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    color: var(--paleta3);
    font-size: calc(1.73rem + 0.10vw);
}

.logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-texto{
    font-family: 'Pacifico';
    font-style: normal;
    color: var(--paleta3);
    font-size: calc(1.73rem + 0.10vw);
    padding-top: 5px;
}

.box-botao{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    height: 3rem;
    width: 3rem;
}

.botao1{
    width: 100%;
    height: 10px;
    background-color: var(--paleta3);
    border-radius: 360px;
    transition: 1s;
    transform: rotate(50deg)translateX(15px)translateY(16px);
}

.botao2{
    transform: translateX(-100vw);
    transition: 1s;
    width: 100%;
    height: 10px;
    background-color: var(--paleta3);
    border-radius: 360px;
}

.botao3{
    width: 100%;
    height: 10px;
    background-color: var(--paleta3);
    border-radius: 360px;
    transition: 1s;
    transform: rotate(-50deg)translateX(4px)translateY(-8px);
}

.ativo1{
    transform: rotate(0)translateX(0)translateY(0);
    transition: 1s;
}

.ativo2{
    transform: translateX(0);
    transition: 1s;
}

.ativo3{
    transform: rotate(0)translateX(0)translateY(0);
    transition: 1s;
}