.box-icons{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.icons{
    height: 10vmin;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}