#fundo{
    background-image: url("../../assets/Fundo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin: auto;
}

#Fullzer4{
    width: 800px;
    height: 200px auto;
}

#Fullzer4 path{
    stroke-width: 2px;
    fill: aqua;
    width: 100%;
    height: 100%;
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
}