@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

html, body, #root{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
    background-color: #37312C;
=======
    background-color: var(--fundo);
>>>>>>> aecbe02d6983b3186399c253c2bd9463e01202e2
}

#pagina{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
    gap: calc(2vw + 2rem);
=======
    height: 100%;
    gap: calc(5vh + 2rem);
>>>>>>> aecbe02d6983b3186399c253c2bd9463e01202e2
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}


:root{
<<<<<<< HEAD
    --LetrasPrinc: #706f6f;
=======
    --fundo: #242323;
    --LetrasPrinc: #FFFFFF;
}

@media screen and (max-width: 500px){
    .itens{
        width: 100%;
    }
    .header-logo-texto{
        display: none;
    }
    #pagina{
        gap: 1rem;
    }
    .bemvindo{
        gap: 2rem;
    }
    .bemvindo-principal{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .bemvindo-texto{
        text-align: center;
    }
    .bemvindo-texto h1{
        font-size: calc(2vw + 1rem);
    }
    .bemvindo-secundario{
        gap: 1rem;
    }
    .bemvindo-divisao{
        width: 70%;
    }
    .bemvindo-mensagem{
        width: 85%;
    }
    .redes img{
        height: 2rem;
    }
>>>>>>> aecbe02d6983b3186399c253c2bd9463e01202e2
}