@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap');

html, body, #root{
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}