.Academico-page{
    display: flex;
    margin-bottom: 45px;
    flex-direction: column;
    align-items: center;
    .Academico{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .Escolar{
        display: flex;
        flex-direction: column;
    }
    .Artigos{
        display: flex;
        flex-direction: column;
    }
    .NonePage{
        display: none;
    }
    .Chose-academic{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}