.Academico-page{
    display: flex;
    margin-bottom: 45px;
    flex-direction: column;
    align-items: center;
    .Academico{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 45px;
        h2{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 2.5rem;
            color: #CBCACA;
            transition: 1s ease-in-out;
        }
    }
    .Escolar{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 45px;
        h2{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 2.5rem;
            color: #CBCACA;
            transition: 1s ease-in-out;
        }
    }
    .Artigos{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 45px;
        h2{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 2.5rem;
            color: #CBCACA;
            transition: 1s ease-in-out;
        }
    }
    .NonePage{
        display: none;
    }
    .Chose-academic{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        button{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 300;
            font-size: 1.25rem;
            color: #CBCACA;
            background: #252525;
            border-radius: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}