.Certificados{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .Cert-titulo{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        h2{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 500;
            font-size: 2.5rem;
            color: #CBCACA;
            transition: 1s ease-in-out;
        }
    }
    .Cert-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        .cert{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 45px;
            margin-bottom: 25px;
            gap: 25px;
            .cert-text{
                display: flex;
                flex-direction: column;
                gap: 25px;
                .title{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.25rem;
                    color: #CBCACA;
                    transition: 1s ease-in-out;
                }
                .desc{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.35rem;
                    color: #CBCACA;
                    transition: 1s ease-in-out;
                }
            }
            .cert-img{
                width: 100%;
                display: flex;
                img{
                    border-radius: 15px;
                    width: 40rem;
                }
            }
            .badge{
                width: 25rem;
            }
            .page{
                width: auto;
                height: 30rem;
            }
        }
        .reverse{
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width: 1115px){
    .Certificados{
        .Cert-box{
            .cert{
                .cert-img img{
                    width: 30rem;
                }
                .badge img{
                    width: 20rem;
                }
                .page{
                    width: 20rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1050px){
        .Certificados{
            .Cert-box{
                .cert{
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    .cert-img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .cert-text{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                    .cert-img img{
                        width: 35rem;
                    }
                    .badge img{
                        width: 20rem;
                    }
                    .page img{
                        width: 20rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 645px){
        .Certificados{
            .Cert-box{
                .cert{
                    .cert-text{
                        width: calc(100vw - 45px);
                    }
                    .cert-img img{
                        width: 25rem;
                    }
                    .badge img{
                        width: 20rem;
                    }
                    .page img{
                        width: 20rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 400px){
        .Certificados{
            .Cert-box{
                .cert{
                    .cert-img img{
                        width: calc(100vw - 45px);
                    }
                    .badge img{
                        width: 20rem;
                    }
                    .page img{
                        width: 20rem;
                    }
                }
            }
        }
    }

.CertificadosLight{
    *{
        color: #2D2B2B !important;
    }
}