.openC{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(11, 10, 10, 0.486);
    backdrop-filter: blur(12px);
    z-index: 1;
}
.escondidoC{
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    background: #191919;
    border-radius: 15px;
    width: 45rem;
    height: 35rem;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    .close-div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        button{
            background: rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            width: 6rem;
            height: 2rem;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #CBCACA;
            cursor: pointer;
        }
    }
    .options-div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .options-lingua{
            width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            color: #CBCACA;
            gap: 0.5rem;
        }
        .options-tema{
            width: 10rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            color: #CBCACA;
            gap: 0.5rem;
        }
        
    }
}