.Home{
    display: flex;
    flex-direction: column;
    .Resumo-Home{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 14rem;
        .Resumo-texto{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .Resumo-texto-titulo{
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 500;
                font-size: 2.5rem;
                color: #CBCACA;
                transition: 1s ease-in-out;
            }
            .titulolight{
                color: #2D2B2B;
            }
            p{
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 400;
                font-size: 1.25rem;
                color: #CBCACA;
                transition: 1s ease-in-out;
            }
            .descricaohomelight{
                color: #2D2B2B;
            }
            button{
                width: 12rem;
                height: 2rem;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 400;
                font-size: 1.25rem;
                color: #D9D9D9;
                background: #2D2B2B;
                border-radius: 10px;
                cursor: pointer;
                transition: 1s ease-in-out;
            }
            .buttonsobrehomelight{
                color: #D9D9D9;
                background: #2D2B2B;
            }
        }
        .Resumo-imagem{
            background-image: url(../imgs/SobreEu.svg);
            background-repeat: no-repeat;
            background-size: contain;
            min-width: 20rem;
            min-height: 20rem;
        }
    }
    .Resumo-Redes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        margin-top: 45px;
        .card{
            min-width: 16rem;
            max-width: 16rem;
            min-height: 19rem;
            background: rgba(65, 65, 65, 0.3);
            box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.06);
            border-radius: 25px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            transition: 1s;

            .title-card{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 400;
                font-size: 1.5rem;
                text-align: center;
                color: #CBCACA;
            }
            .image-card{
                background-repeat: no-repeat;
                background-size: contain;
                height: 8rem;
                width: 8rem;
                margin-top: 20px;
            }
            .discord{
                background-image: url(../imgs/imagediscord.svg);
            }
            .github{
                background-image: url(../imgs/SobreEu.svg);
            }
            .youtube{
                background-image: url(../imgs/imageyoutube.svg);
            }
            .subtitle-card{
                margin-top: 15px;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 300;
                font-size: 1rem;
                color: #CBCACA;
                height: 7.75rem;
                display: flex;
                align-items: center;
            }
            .buttom-card{
                margin-bottom: 10px;
                display: flex;
                width: 13rem;
                height: 2rem;
                background: rgba(65, 65, 65, 0.3);
                border-radius: 25px;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                cursor: pointer;
                font-family: 'Comfortaa';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                color: #CBCACA;
            }
        }
        .cardlight{
            background: #2D2B2B;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
        }
    }
    .Contact{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 4rem;
        p{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 3rem;
            color: #CBCACA;
        }
        .Contatos{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 45px;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 45px;
            .card-Contact{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                height: 4rem;
                width: 18rem;
                transition: 1s ease-in-out;
                a{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: #CBCACA;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: #CBCACA;  
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .card-Contact:hover{
                transform: scale(1.1);
            }
        }
    }
}

.card:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1050px){
    .Home{
        .Resumo-Home{
            flex-direction: column-reverse;
            justify-content: center;
            gap: 2rem;
        }
        .Resumo-Redes{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }   
        .Contact{
            .Contatos{
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}

@media screen and (max-width: 1350px){
    .About{
        .About-me{
            gap: 2rem;
        }
    }
}
@media screen and (max-width: 1050px){
    .About{
        .About-me{
            gap: 2rem;
            flex-direction: column;
            .About-me-texto{
                text-align: left;
                justify-content: left;
                align-items: flex-start;
                margin-bottom: 25px;
            }
            
        }
        .Tencinal-Habilities{
            .Tencinal-Habilities-itens{
                flex-direction: column;
                .coluna-esq{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 100%;
                    gap: 25px;
                    .iten{
                        width: 80%;
                        .iten-porcentagem{
                            width: 100%;
                        }
                    }
                }
                .coluna-dir{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 100%;
                    gap: 25px;
                    .iten{
                        width: 80%;
                        .iten-porcentagem{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .Tencinal-Softskills{
            .Tencinal-Softskills-itens{
                .itens{
                    justify-content: center;
                    p{
                        
                    }
                }
            }
        }
    }
}