@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
*:focus{
    outline: 0;
  }
  
html, body, #root{
    height: 100%;
  }

.App{
    position: relative;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    max-width: 1980px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #1A1A1A;
    transition: 1s;
}

.Applight{
  background-color: #D9D9D9;
}

::-webkit-scrollbar{
  display: none;
}

.Page{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  border: none;
}