.Intro{
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/fundo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .Twitch{
        display: flex;
        width: 100%;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        .changelang-text{
            width: 4rem;
            display: flex;
            justify-content: center;
            user-select: none;
        }
        .changelang-text::selection{
            background-color: rgba(0, 0, 0, 0);
        }
        .changelang{
            display: flex;
            justify-content: left;
            align-items: center;
            width: 7rem; 
            cursor: pointer;
            background: rgba(53, 51, 51, 0.69);
            border-radius: 45px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 15px;
            padding-left: 10px;
        }
        .brazil-icon{
            background-image: url(../imgs/brazil.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size:contain;
            height: 2rem;
            width: 2rem;
            margin-right: 7px;
        }
        .states-icon{
            background-image: url(../imgs/states.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size:contain;
            height: 2rem;
            width: 2rem;
            margin-right: 5px;
        }
        .icon-twitch{
            background-image: url(../imgs/Twitch.svg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            margin: 5px;
        }
        p{
            color: #D9D9D9;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            user-select: none;
        }
        p::selection{
            background-color: rgba(0, 0, 0, 0);
        }
        .live-on{
            background-color: rgba(108, 204, 74, 0.47);
            padding: 5px;
            border-radius: 10px;
            margin-left: 5px;
        }
        .live-off{
            background-color: rgba(204, 74, 85, 0.47);
            padding: 5px;
            border-radius: 10px;
            margin-left: 5px;
        }
    }
    .Titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        h1{
            font-family: 'Pacifico';
            font-style: normal;
            font-weight: 400;
            font-size: 7rem;
            color: #D9D9D9; 
            user-select: none;
        }
        h1::selection{
            background-color: rgba(0, 0, 0, 0);
        }
    }
    .Icons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        .icon{
            background-size: cover;
            background-repeat: no-repeat;
            height: 4rem;
            width: 4rem; 
            cursor: pointer;
        }
        .icon:hover{
            transform: scale(1.1);
            transition: 1s;
        }
        .icons-twitch{
            background-image: url(../imgs/Twitch.svg);
        }
        .icons-insta{
            background-image: url(../imgs/instagram.svg);
        }
        .icons-github{
            background-image: url(../imgs/github.svg);
        }
        .icons-linkedin{
            background-image: url(../imgs/linkedin.svg);
        }
    }
    .Arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        animation: setahehe 3s ease-in-out infinite;
        .icon-arrow{
            background-image: url(../imgs/seta.svg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 2.5rem;
            width: 4.5rem; 
            cursor: pointer;
        }
    }
    .Twitch-box{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

@keyframes setahehe {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media screen and (max-width: 750px){
    .Intro{
        .Icons{
            width: 100%;
        }
    }
}

@media screen and (max-width: 535px){
    .Intro{
        .Titulo{
            h1{
                font-size: 5.35rem;
            }
        }
        .Icons{
            width: 90%;
            .icon{
                height: 3.25rem;
                width: 3.25rem;
            }
        }
    }
}

@media screen and (max-width: 305px){
    .Intro{
        .Twitch{
            .changelang{
                width: 6rem;
                .changelang-text{
                    font-size: 14px;
                }
            }
        }
        .Titulo{
            h1{
                font-size: 3.5rem;
            }
        }
        .Icons{
            width: 90%;
            .icon{
                height: 2.5rem;
                width: 2.5rem;
            }
        }
        .Arrow{
            .icon-arrow{
                height: 1.75rem;
                width: 3.5rem;
            }
        }
    }
}