.Navbar{
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height: 6rem;
    position: sticky;
    align-items: center;
    justify-content: center;
    .Navbar-nav{
        display: flex;
        flex-direction: row;
        width: 80vw; 
        height: 4rem;
        align-items: center;
        justify-content: center;
    }
}