#Page{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1500px;  
    width: 100%;
}
.pagina-ativada{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 25px;
    animation: aparecer 1s;
    width: 100%;
}
.pagina-desativada{
    display: none;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}