#page{
    display: flex;
    flex-direction: column;
    max-width: 1500px;  
}
.pagina-ativada{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 25px;
}
.pagina-desativada{
    display: none;
}