.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    .Project-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .Project-apresentation{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 2rem;
            margin-bottom: 45px;
            .Project-text{
                display: flex;
                flex-direction: column;
                gap: 25px;
                width: 80%;
                .titulo{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.5rem;
                    color: #CBCACA;
                    transition: 1s ease-in-out;
                }
                .texto{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.25rem;
                    color: #CBCACA;
                    transition: 1s ease-in-out;
                }
                .descri{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.25rem;
                    color: #CBCACA;
                    transition: 1s ease-in-out;
                }
                a{
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.25rem;
                    color: #CBCACA;
                    background: #252525;
                    border-radius: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 15rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .Project-img{
                display: flex;
                flex-direction: column;
                width: 40%;
                img{
                    border-radius: 15px;
                }
            }
        }
        .Project-website{
            width: 100%;
            height: 40rem;
            margin-bottom: 45px;
            iframe{
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 15px;
            }
        }
    }
    hr{
        width: 75%;
        height: 2px;
        background-color: #CBCACA;
        border-radius: 25px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 1050px){
    .Projects{
        .Project-card{
            .Project-apresentation{
                flex-direction: column-reverse;
                .Project-text{
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
                .Project-img{
                    width: 80%;
                }
            }
        }
    }
}