.Rodape{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .Buttonfooter{
        background: #D9D9D9;
        border-radius: 15px;
        cursor: pointer;
        height: 3.25rem;
        width: 16rem;
        text-align: center; 
        color: #2D2B2B;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in-out;
    }
    .buttonlight{
        background: #2D2B2B;
        color: #D9D9D9;
    }
}