.slider{
    width: 100%;
    background-color: var(--paletaterciaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide1{
    display: flex;
    flex-direction: row;
    padding: calc(1.5rem + 1vmin);
    gap: calc(1.5rem + 1vmin);
    width: 100%;
}

.slide-content-box{
    padding-right: 65px;
}

.img{
    height: 50vmin;
    border-radius: calc(1.5rem + 1vmin);
}

.slide-Titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2.5rem + 2vmin);
    font-weight: 400;
    color: var(--tituloslider);
}

.slide-Divisor{
    width: 100%;
    height: 2px;
    background-color: var(--divisorslider);
    border-radius: 80px;
    margin-bottom: calc(1rem + 1vmin);
    margin-top: calc(0.25rem + 0.25vmin);
}


.slide-Descricao{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1.5rem + 1.5vmin);
    font-weight: 400;
    color: var(--descrislider);
}


.slide-Botao{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1rem + 1vmin);
    font-weight: 500;
    color: var(--textobotaoslider);
    padding: 10px;
    border-radius: 45px;
    background-color: var(--botaoslider);
    margin-top: 15px;
    transition: 1s;
}


.slide-Botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}